<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
  <title>Good Burger</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/assets/js/events.js"></script>

</head>

<body class="ff-quicksand mtop-2">
  {{{ body }}}
</body>

</html>