<li class="lst-n">
    <p>
        {{this.id}}. {{this.burger}}

        <button class="devburger" data-burgerid="{{this.id}}" data-isdevoured="{{this.devoured}}">Eat
            Burger!</button>
    </p>
</li>